<br />
<div class="container">
  <div class="row">
    <div class="span12">
      <h2>upcoming: tilt@ff Venture Capital</h2>
    </div>
  </div>
  <div class="row">
    <div class="span4">&nbsp;</div>
    <div class="span4">
      <h3 class="no-underline">thursday, november 29 from 7pm</h3>
      <p>Secure you space now! <a href="http://tilt-ff.eventbrite.com">tilt-ff.eventbrite.com</a></p>
    </div>
    <div class="span4">&nbsp;</div>
    
  </div>
  
  <div class="row">
    <div class="span6">

    <h2>politics: fall 2012</h2>
    <p>
      late september saw our second official event, and what a day it was! some fifteen-odd teams vied for the best business idea within the theme of <strong>politics</strong>, in honor of the recent presidental elections.</p>

    <p>
      <a href="http://www.facebook.com/media/set/?set=a.268280839941609.40169.155421381227556&amp;type=3" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;"><img align="none" alt="tilt fall 2012"  src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/header_3x2_alt_1.jpg" /></a></p>
    <div class="caption">
      for more photos, check out <a href="http://www.facebook.com/media/set/?set=a.268280839941609.40169.155421381227556&amp;type=3" style="color: #336699;font-weight: normal;text-decoration: underline;">the event album on facebook</a>.</div>


    <h3>improvements</h3>

    <div class="row">
      <div class="span2">
        <img align="none" alt="voting at tilt" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/lee_choosing_votes.jpg" /> 
      </div>
      <div class="span4">
        to augment the scoring by mentor investment, we added in the concept of user voting. each competitor could vote for up to three other teams per round. scores were derived from the investment by mentors, and the votes they accumulated from the competitors.
      </div>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="span4" style="text-align: right">
        for some variety, we introduced the idea of <a href="https://vimeo.com/channels/tiltfall2012" style="color: #336699;font-weight: normal;text-decoration: underline;"><strong>video submissions</strong></a> into round 3. the top eight teams had sixty minutes to create a sixty second clip! if you've ever tried it, you'll know it's no mean feat. 
      </div>
      <div class="span2">
        <a href="https://vimeo.com/channels/tiltfall2012" ><img align="none" alt="videos at tilt" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/nudge_video.jpg" /></a>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="span2">
        <img align="none" alt="re-tilt pitches" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/stealth_pitches.jpg" /></p>
      </div>
      <div class="span4">
        we also introduced elimation later in the afternoon. those knocked out were able to form into new teams of one - four competitors and could pitch in the <strong>re-tilt</strong>. congratulations to our re-tilt winners michael and evan with their concept <a href="http://live.tiltnyc.net/team/506779d13720930200002952" ><strong>super roots</strong></a>.
      </div>
    </div>

    <h3>example teams</h3>

    <p>
      as always, the day drew some varied business proposals. some of the ideas included:</p>

      <div class="row">
        <div class="span2">
          <strong>countmein</strong><br />a system to simplify voter registrations
        </div>
        <div class="span4">
         <iframe src="http://player.vimeo.com/video/51576094?badge=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
        </div>
      </div>
      <br />
      <div class="row">
        <div class="span2" >
          <strong>campaign.ly</strong><br />instant polling feedback and analytics app
        </div>
        <div class="span4">
           <iframe src="http://player.vimeo.com/video/51576091?badge=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="span2">
            <strong>politerate</strong><br />a political trivia &amp; donations app
        </div>
        <div class="span4">
          <iframe src="http://player.vimeo.com/video/51576095?badge=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        
      </div>


    <h3>results</h3>

    <p>
      after four full rounds of pitching, pivoting, networking, sketching, shooting and filming, our winners emerged.</p>


    <h3>instagram</h3>
      <p>first up, was our prize for best instagram photo. thanks to everyone for submitting plenty of great entries throughout the day.
      <img align="none" alt="instagram entries" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/instagram_4x2.jpg" >
    </p>

    <p>
      but alas, there can be only one winner. congratulations to camille - aka <a href="http://instagram.com/sitinpretty" style="color: #336699;font-weight: normal;text-decoration: underline;">@sitinpretty</a> - for that killer shot of team nudge. hope you enjoy your roku player!</p>

    <div class="row">
      <div class="span4">
        <a href="http://instagram.com/p/QLDUcBAC3y/"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/distilleryimage6.s3.amazonaws.com/704f2aa40a7411e2b93522000a1e8aaa_7.jpg" /></a>
      </div>
      <div class="span2">

          <img align="none" alt="instagram winner: @sitinpretty" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/camille_instagram_prize.jpg" />
      </div>
    </div>

    <h3>winning mentor</h3>


    <div class="row">
      <div class="span4">
        <img align="none" alt="tilt fall 2012 mentors" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/mentors_jokes.jpg" />
      </div>
      <div class="span2"> 
        <img align="none" alt="will peng" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/will_moet.jpg" />
      </div>
    </div>

    <div class="row">
      <div class="span6">
      <p>like before, our mentors were competing for the strongest portfolio after the final round. unlike last time, two judges joined in the final round - charlie and erik - who, with their larger allocation of virtual capital, primarily determined the final winners. and thus, the mentor who got the highest return on investment.</p>
      <p>
        congratulations to <a href="http://live.tiltnyc.net/user/5062095c364de600000002a9/profile" style="color: #336699;font-weight: normal;text-decoration: underline;"><strong>will peng</strong> from raptor ventures</a>!</p>
      </div>
    </div>

    <h3>runners up</h3>
    <div class="row">
      <div class="span4">
        <iframe src="http://player.vimeo.com/video/51576356?badge=0" width="350" height="263" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
      </div>
      <div class="span2">
         <a href="http://live.tiltnyc.net/team/5066807bad5e9a0200000088">
          <img align="none" alt="chris pitching" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/chris_good_pitching.jpg" />
        </a>
      </div>
    </div>
    <p>
our runners up were the team who designed a system that matches users interested in a particular issue with lobbyists who will take up the cause.</p>
    <p>
      <strong>lobbyist.me</strong> are a kickstarter for causes. checkout their <a href="http://live.tiltnyc.net/team/5066807bad5e9a0200000088" style="color: #336699;font-weight: normal;text-decoration: underline;">product video</a>. well done!</p>

    <h3>and, our winners...</h3>
    <div class="row">
      <div class="span4">
        <iframe src="http://player.vimeo.com/video/51576098?badge=0"  width="350" height="263" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
      </div>
      <div class="span2">
        <a href="http://live.tiltnyc.net/team/5066807cad5e9a02000000be">
          <img align="none" alt="nudge winners" src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/c2a23d4267d5f991379892ad6/images/erik_prizes.jpg" />
        </a>
      </div>
    </div>


    <p><strong>nudge</strong>, aka <strong>team champaign</strong>, are a group that want to give you quantifiable actions for issues that matter to you.</p>

    <p>check out <strong>nudge</strong> and their product video on <a href="http://live.tiltnyc.net/team/5066807cad5e9a02000000be" style="color: #336699;font-weight: normal;text-decoration: underline;">our live site</a>. congrats guys!</p>

    </div>

    <!-- second col -->
    <div class="span6">
     <h2>rentals: spring 2012</h2>

     <p class="caption">details coming soon</p>
    </div>
  </div>
</div>
