<div class="container-fluid nav-container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="nav-collapse collapse">

      <ul class="nav">
        <li><a href="" class="active">Home</a></li>
        <li><a href="#details">Details</a></li>
        <li id="logo-container"><a href="#" id="logo"><span>Tilt</span></a></li>
        <!--li><a href="#teams">Teams</a></li-->
        <li><a href="#social">Social</a><li>
        <li><a href="http://live.tiltnyc.net/teams">Past Teams</a></li>
      </ul>
      </div>
      <div
         class="btn-navbar homepage" 
         data-toggle="collapse"
         data-target=".nav-collapse">
        <select style="width: 150px;">
          <option><a href="#">hasdflkasf</a></option>
        </select>
      </div>
    </div>
  </div>
</div>
<div id="main-content"></div>
