<div class="container">
  <div class="row" style="border-top: 1px solid white;">
    <div class="span8" style="height: 450px;">
      <h1 class="main-headline">
        A startup event like no other. Build ideas with
        talented people from all over NYC and win cool 
        prizes.
      </h1>
      <div align="center">
        <a href="#" class="btn btn-large btn-primary homepage">
          Apply to join »
        </a>
      </div>
    </div>
    <div class="span4 video-placeholder">
      <h2 style="color: white; margin-top: 70px;">Watch the video</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <hr />
    <div class="span12">
      <h2>How it works</h2>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h2>Testimonials</h2>
      <hr />
      <h2>Organizers</h2>
    </div>
    <div class="span6">
      <h2>Past & Present Mentors</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Sponsors</h2>
    </div>
  </div>
</div>
