<div class="container-fluid main-background">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="main-headline">
        A startup event like no other. 
      </h1>
      <p class="promo-text">
        Build ideas with talented people from all over NYC. Iterate <br/>
        with the help of investor mentors and compete to be the best.
      </p>
      <div align="center">
        <a href="#" class="btn btn-large btn-primary homepage">
          Apply to join »
        </a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12" >
      <h2 style="color: white;">Watch the video</h2>
      <div align="center">
        <a href="#" class="play">&nbsp</a>
      </div>
    </div>
  </div>
</div>
<div class="container" style="border: 1px solid #eeeeee;">
  <div class="row">
    <div class="span12">
      <h2>How it works</h2>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h2>Testimonials</h2>
      <hr />
      <h2>Organizers</h2>
    </div>
    <div class="span6">
      <h2>Past & Present Mentors</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Sponsors</h2>
    </div>
  </div>
</div>
