<div class="container-fluid nav-container">
  <div class="navbar">
    <div 
       class="logo-container"
       align="center">
      <img src="/images/logo.png" class="logo"/>
    </div>
    <div class="navbar-inner">
      <div class="nav-collapse collapse">
      <ul class="nav">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#" style="margin-right: 100px">How it works</a></li>
        <li><a href="#teams">Teams</a></li>
        <li><a href="#events">Events</a></li>
        <li>
          <a href="#" 
             class="btn btn-small" 
             style="margin-top: 0px;
                    color: white;
                    text-shadow: none;">
            Join our newsletter &nbsp »
          </a>
        </li>
      </ul>
      </div>
      <div
         class="btn-navbar homepage" 
         data-toggle="collapse"
         data-target=".nav-collapse">
        <select style="width: 150px;">
          <option><a href="#">hasdflkasf</a></option>
        </select>
      </div>
    </div>
  </div>
</div>
<div id="main-content"></div>